<header>
  <div class="header">
    <div class="heading">
      <h1 class="title">With pet</h1>
    </div>
    <div class="navbar">
      <ul class="nav-lists">
        <li class="header-li">
          <%= link_to '新規登録', "#", class: "signup" %>
        </li>
        <li class="header-li">
          <%= link_to 'login', "#", class: "login" %>
        </li>
      </ul>
    </div>
  </div>
</header>