<%= render "share/header" %>

<div class='main'>
  <div class='top-page'>
    <%# <検索フォーム> %>
    <%= render "share/search_form" %>
    <%# <検索フォーム> %>


    <%# <shop一覧> %>
    <div class='shop_list'>
      <ul class='shop-li'>
        <% @shops.each do |shop| %>
          <%= render partial: 'share/shop_info', locals: { shop: shop } %>
        <% end %>
      </ul>
    </div>
    <%# <shop一覧> %>
  </div>
</div>