<%= render "share/header" %>

<div class='main'>
  <div class='top-page'>
    <div class='shop_list'>
      <ul class='shop-li'>
        <% @shops.each do |shop| %>
          <%= render partial: 'share/shop_info', locals: { shop: shop } %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
