.comment-icon {
  color: #874e4c;
  transition: color 0.3s;
}

.comment-icon:hover {
  color: #ab6b69;
}

.none-favorite a {
  color: #E25F70;
}

.favorite a, .none-favorite a {
  text-decoration: none;
}

.favorite, .none-favorite {
  font-size: 35px;
}
