/* ****************************************************************
トップページ
**************************************************************** */

.main {
  height: 100vh;
  overflow: auto;
  background-color: #f0e4de;
}

.top-page {
  display: flex;
}

/* **************************
shop一覧
************************** */

.shop_list {
  width: 100%;
}

.shop-li {
  width: 700px;
  margin: 130px auto 0;
}

.shop-li a {
  width: 100%;
  z-index: 1;
  text-decoration: none;
}

.shop_image {
  background-size: cover;
  background-position: center;
  width: 700px;
  height: 400px;
  display: block;
  object-fit: cover;
  opacity: 70%;
  border-radius: 5px;
}

.shop {
  width: 700px;
  height: 400px;
  list-style: none;
  margin-bottom: 30px;
  position: relative;
}

.shop-info-top {
  width: 95%;
  display: flex;
  position: absolute;
  top: 5%;
  left: 5%;
}

.shop_name {
  font-size: 30px;
  font-weight: 800;
  color: #4C384A;
  text-shadow: 1px 2px #946d91;
  text-decoration: none;
}

.location {
  font-size: 12px;
  font-weight: 600;
  color: #4C384A;
  text-shadow: 1px 0.5px #946d91;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.favorite-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 10;
}



