/* ***********************************************************
全体設定
*********************************************************** */

.show-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.show-page {
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  height: 80vh;
  width: 90%;
}

/* ***********************************************************
左側のコンテンツ
*********************************************************** */

.show-container {
  width: 40%;
  padding: 20px;
  overflow-y: auto;
}

.reviews-wrap {
  margin-top: 40px;
}

.show-header-text {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-name-content {
  font-size: 35px;
  font-weight: bold;
  color: #874E4C;
  text-shadow: 1px 1px #EABCAC;
}

.icon {
  display: flex;
  justify-content: end;
  align-items: center;
}

.show-favorite-btn {
  margin-left: 10px;
}

.show-review-btn {
  margin-left: 10px;
}

.show-review-btn:hover .hidden {
  display: block;
}

.shop-content {
  margin-bottom: 20px;
}

.shop-image-content {
  width: 100%;
  border-radius: 10px;
}

.top-back-link {
  margin-top: 90px;
}

.top-back-btn {
  height: 50px;
}

/* ***********************************************************
右側のコンテンツ
*********************************************************** */

.show-details {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.shop-details {
  padding: 20px;
  margin-top: 40px;
}

.show-info-logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.shop-info-logo {
  font-weight: bold;
  color: #E2B091;
  font-size: 20px;
}

.shop-info-icon {
  margin-right: 5px;
}

.shop-info-li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.shop-info {
  margin-bottom: 20px;
}

.shop-label {
  font-weight: bold;
  color: #E25F70; /* ボタンの色 */
}

.shop-address, .shop-access, .shop-tell, .shop-opening, .shop-close, .shop-attention {
  color: #874E4C;
}

.reviews-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.reviews-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.reviews-title {
  font-size: 24px;
  font-weight: bold;
  color: #E25F70;
  margin-right: 5px;
}

.review-item {
  gap: 20px;
  background-color: #EABCAC;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.more-options-blank {
  display: flex;
  justify-content: end;
  align-items: center;
}

.more-options {
  height: 25px;
  width: 25px;
  position: relative;
}

.more-list {
  list-style: none;
  width: 55px;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  top: 28px;
  right: 0;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 10;
}

.more-options:hover .more-list {
  display: block;
}

.more-list li {
  padding: 10px;
  border-bottom: 1px solid #E2B091;
}

.more-list li:last-child {
  border-bottom: none;
}

.more-list li a {
  text-decoration: none;
  color: #E25F70; /* ボタンの色 */
}

.more-list li a:hover {
  color: #C44B59;
}

.review-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.review-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  white-space: normal;
}

.review-date {
  font-size: 14px;
  color: #874E4C;
}

.review-comment {
  font-size: 16px;
  color: #764b4a;
  margin-bottom: 10px;
  word-wrap: break-word;
  word-break: break-word;
}

.review-user {
  font-size: 14px;
  color: #874E4C;
  text-align: right;
}

.none-reviews {
  font-size: 18px;
  color: #874E4C;
}


/* ***********************************************************
通知
*********************************************************** */

.attention-message {
  width: 300px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #874E4C;
  display: flex;
  justify-content: center;
  align-items: center;
}
