 <% @cafes.each do |cafe| %>
  <%# <div class='cafe-img-content'> %>
    <%# <%= image_tag item.image, class: "cafe-img" %> 
  <%# </div> %>
  <div class='cafe-info'>
    <h3 class='cafe-name'>
      <%= cafe.name %>
    </h3>
  </div>
<% end %>
  