/* 全体のスタイル */
.review-form-page {
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7DFD4;
}

.review-page {
  display: flex;
  width: 80%;
  max-width: 1200px;
  background-color: #EABCAC;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 軽いシャドウ */
  overflow: hidden;
  padding: 5px;
}

.review-shop-info {
  flex: 1;
  background-color: #EABCAC;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.review-shop-name {
  font-size: 24px;
  font-weight: bold;
  color: #fffafa;
  margin-bottom: 20px;
}

.review-shop-img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  object-fit: cover;
}

.review-form-container {
  flex: 1.5;
  padding: 20px;
  background-color: #FFFFFF;
}

.back-link {
  display: flex;
  justify-content: flex-end;
}

.cancel-btn {
  cursor: pointer;
}

.review-post-logo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.review-post-logo-icon h1 {
  font-size: 28px;
  color: #874E4C;
  margin-left: 10px;
}

.field {
  margin-bottom: 20px;
}

.photo-area {
  display: flex;
  align-items: center;
}

.photo {
  font-size: 16px;
  font-weight: 600;
  color: #874E4C;
  margin-left: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #E2B091;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #F7DFD4;
  color: #874E4C;
}

.input-visit-wrap {
  display: flex;
  align-items: center;
}

.input-visit-wrap p {
  color: #874E4C;
}

.visit-label {
  font-size: 16px;
  font-weight: 600;
  color: #874E4C;
  margin-right: 20px;
}

.input-visit-wrap p {
  margin: 5px;
  font-size: 16px;
}

.select-visit {
  width: auto;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #E2B091;
  border-radius: 4px;
  background-color: #F7DFD4;
  color: #874E4C;
}

.select-year {
  width: 100px;
}

.select-visit select {
  height: 30px;
}

.select-month {
  width: 80px;
}

.select-day {
  width: 60px;
}

.comment-label {
  font-size: 16px;
  font-weight: 600;
  color: #874E4C;
}

.review-post-btn {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.actions {
  display: flex;
  justify-content: center;
}

/* .review-post-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

