/* レビュー編集画面にも適用してます */

.review-form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.review-form-container {
  padding: 30px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
}

.review-form-container h1 {
  margin-bottom: 30px;
  color: #4C384A;
  border-bottom: 1px solid #805d7c;
}

.field {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #805d7c;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-visit-wrap {
  display: flex;
  align-items: center;
}

.visit-label {
  font-size: 16px;
  font-weight: 600;
  color: #4C384A;
  margin-right: 20px;
}

.input-visit-wrap p {
  margin: 5px;
  font-size: 16px;
}

.select-visit {
  width: auto;
  padding: 10px;
  font-size: 14px;
}

.select-year {
  width: 100px;
}

.select-visit select {
  height: 30px;
}

.select-month {
  width: 80px;
}

.select-day {
  width: 60px;
}

.comment-label {
  font-size: 20px;
  font-weight: 600;
  color: #4C384A;
}

.review-post-btn {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.back-link, .actions {
  flex: 1;
  margin: 0 auto;
}