/* 全体のスタイルを設定 */
.mypage-area {
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: #F7DFD4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mypage-container {
  width: 40%;
  padding: 10px;
}

.mypage-header {
  height: 80px;
  margin-bottom: 30px;
  border-bottom: 1px solid #EABCAC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mypage-header-text {
  color: #874E4C;
  font-size: 32px;
  font-weight: bold;
  margin-left: 5px;
}

.mypage-text {
  background: linear-gradient(90deg, #E2B091 0%, #EABCAC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mypage-li {
  list-style: none;
  padding: 0;
}

.mypage-group {
  margin-bottom: 20px;
  padding: 10px;
 
}

.mypage-text-wrap {
  display: flex;
}

.mypage-nickname-label,
.mypage-email-label,
.mypage-age-label,
.mypage-gender-label {
  flex: 1;
  color: #d0a596;
  font-weight: bold;
  font-size: 18px;
  text-align: start;
  padding-left: 90px;
}

.mypage-nickname,
.mypage-email,
.mypage-age,
.mypage-gender {
  flex: 1;
  color: #874E4C;
  font-size: 18px;
  font-weight: 500;
  text-align: start;
  padding-left: 80px;
}

.mypage-nickname:hover,
.mypage-email:hover,
.mypage-age:hover,
.mypage-gender:hover {
  color: #E25F70;
  text-decoration: underline;
}

.my-page-btn {
  width: 500px;
  display: flex;
  margin-top: 30px;
}

.user-edit, .top-page-back {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-logo {
  margin-right: 5px;
}

.user-edit-button,
.back-button {
  background-color: #EABCAC;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.user-edit-button:hover,
.back-button:hover {
  background-color: #E2B091;
}

.user-edit-button, .back-button {
  width: 150px;
}