.mypage-area {
  width: 100%;
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mypage-wrap {
  width: 50%;
  height: 50%;
  background-color: #f0e4de;
  border-radius: 5px;
}

.mypage-header {
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #4C384A;
  letter-spacing: 2px;
}

.mypage-header-text {
  line-height: 70px;
  border-bottom: 1px solid #805d7c;
  font-weight: bold;
}

.mypage-text {
  font-size: 30px;
  font-weight: bold;
}

.mypage-li {
  color: #4C384A;
  font-size: 18px;
  font-weight: 600;
  padding: 50px 60px 30px;
}

.mypage-group {
  width: 80%;
  display: flex;
  margin: 0 auto 10px;
  padding-top: 20px;
}

.mypage-group:first-child {
  padding: 0;
}

.mypage-text-wrap {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
}

.my-page-btn {
  display: flex;
  width: 100px;
}